In [32]:
import psycopg2

connection = psycopg2.connect(user = "postgres",
                             # password = "NEW_PASSWORD",
                              host = "localhost",
                              port = 5432,
                              database = "db")

In [33]:
cursor = connection.cursor()

In [34]:
cursor.execute("""SELECT actor.ACTOR_ID,FIRST_NAME,LAST_NAME,TITLE,DESCRIPTION,RELEASE_YEAR \
    FROM film \
        INNER JOIN film_actor on film.film_id = film_actor.film_id\
        INNER JOIN actor on film_actor.actor_id = actor.actor_id; """)
rows = cursor.fetchmany(10)
for row in rows:
    print("ACTOR_ID:   ", row[0])
    print("FIRST_NAME:   ", row[1])
    print("LAST_NAME:    ", row[2])
    print("TITLE:   ", row[3])
    print("DESCRIPTION:   ", row[4])
    print("RELEASE_YEAR:   ", row[5], "\n")

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    ACADEMY DINOSAUR
DESCRIPTION:    A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    ANACONDA CONFESSIONS
DESCRIPTION:    A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    ANGELS LIFE
DESCRIPTION:    A Thoughtful Display of a Woman And a Astronaut who must Battle a Robot in Berlin
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    BULWORTH COMMANDMENTS
DESCRIPTION:    A Amazing Display of a Mad Cow And a Pioneer who must Redeem a Sumo Wrestler in The Outback
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    CHEAPER CLYDE
DESCRIPTION:    A Emotional Character Study of a Pioneer And a Girl who must Discover a Dog in Ancient Japan
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    COLOR PHILADELPHIA
DESCRIPTION:    A Thoughtful Panorama of a Car And a Crocodile who must Sink a Monkey in The Sahara Desert
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    ELEPHANT TROJAN
DESCRIPTION:    A Beautiful Panorama of a Lumberjack And a Forensic Psychologist who must Overcome a Frisbee in A Baloon
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    GLEAMING JAWBREAKER
DESCRIPTION:    A Amazing Display of a Composer And a Forensic Psychologist who must Discover a Car in The Canadian Rockies
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    HUMAN GRAFFITI
DESCRIPTION:    A Beautiful Reflection of a Womanizer And a Sumo Wrestler who must Chase a Database Administrator in The Gulf of Mexico
RELEASE_YEAR:    2006

ACTOR_ID:    1
FIRST_NAME:    PENELOPE
LAST_NAME:     GUINESS
TITLE:    KING EVOLUTION
DESCRIPTION:    A Action-Packed Tale of a Boy And a Lumberjack who must Chase a Madman in A Baloon
RELEASE_YEAR:    2006